---
---

// "Reset" styles and SCSS reusable components
@import "normalize";
@import "mixins";
@import "variables";

// Generic site base & layout styles
@import "base";
@import "layout";

// Layouts
@import "resume";

// adding stuff Fede

img.hoverer{
    transition: transform .2s;
    margin:0 auto;
}
img.hoverer:hover{
    opacity: 0.5;
    transform:scale(1.05);
}
