---
---

// "Reset" styles and SCSS reusable components
@import "normalize";
@import "mixins";
@import "variables";

// Generic site base & layout styles
@import "base";
@import "layout";

// Layouts
@import "resume";

// adding stuff Fede

// esto es para hacer el hover

img.hoverer{
    transition: transform .2s;
    margin:0 auto;
}
img.hoverer:hover{
    opacity: 0.5;
    transform:scale(1.07);
}
    .hoverobj {
        position: relative;
        display: inline-block;
    }
    .hoverobj .imgH {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
        transition: transform .2s;
        margin:0 auto;
    }
    .hoverobj:hover .imgH {
        display: inline;
        opacity: 1;
        transform:scale(1.07);
    }

//  esto es para alinear imagenes tipo tabla

.left, .right {
  border-collapse: collapse;
  display: table-cell;
  margin: 0;
  padding: 0;
  vertical-align: top;
}
.left {
  //background: pink;
  padding: 2px 1px 2px 2px;
  text-align: center;
}
.right {
  //background: lightgreen;
  padding: 2px 2px 2px 1px;
    text-align: right;
}
.nest {
  padding-bottom: 1px;
}

// hover text

hovertext .txtT {
  display: none;
}

hovertext:hover .txtB {
  display: none;
}

hovertext:hover .txtT {
  display: inline;
}
