---
---

// "Reset" styles and SCSS reusable components
@import "normalize";
@import "mixins";
@import "variables";

// Generic site base & layout styles
@import "base";
@import "layout";

// Layouts
@import "resume";

// adding stuff Fede

.hoverer{
    transition: transform .2s;
    //width:50px;
    //height:50px;
    margin:0 auto;
    //background-color: rgb(173, 173, 237);
    //border-radius: 10px;
    //border: 1px solid black;
}
.hoverer:hover{
    transform:scale(2.2);
}
